.categories {
    > ul {
        @extend .row;

        margin-bottom: 0px;
        list-style: none;
        padding: 0px;

        > li {
            @extend .col-sm-4;
            margin-bottom: 30px;

            @media (max-width: $screen-xs-max) {
                clear: both;
                margin: 0px 0px 20px 0px !important;
            }

            &:nth-last-child(-n+3) {
                margin-bottom: 0px;
            }

            > .categories-link {
                border-bottom: 1px solid rgba(black, .05);
                color: $color-black;
                display: block;
                font-size: 17px;
                margin: 0px 0px 10px 0px;
                padding: 0px 0px 10px 0px;

                &:before {
                    color: $color-primary;
                    content: '&#45';
                    display: none;
                    font-size: 12px;
                    margin: 0px 10px 0px 0px;
                    vertical-align: 2px;
                }

                &:hover {
                    color: $color-primary;
                    text-decoration: none;
                }

                .fa {
                    background-color: $color-primary;
                    border-radius: 50%;
                    color: #fff;
                    font-size: 12px;
                    height: 30px;
                    line-height: 30px;
                    margin: 0px 15px 0px 0px;
                    text-align: center;
                    vertical-align: 2px;
                    width: 30px;
                }
            }

            > .categories-action {
                background-color: $color-gray-medium;
                border-radius: 4px;
                color: $color-gray-dark;
                font-size: 10px;
                float: right;
                margin: 4px 0px 0px 0px;
                padding: 3px 7px;

                &:hover {
                    background-color: $color-secondary;
                    color: #fff;
                    text-decoration: none;
                    transition: all .15s linear;
                }
            }

            > ul {
                @extend .clearfix;
                list-style: none;
                margin: 0px;
                padding: 0px;

                li {
                    display: inline-block;
                    float: left;
                    font-size: 14px;
                    line-height: 24px;
                    margin: 0px 5px 0px 0px;

                    a {
                        color: $color-gray-darker;

                        &:hover {
                            color: $color-primary;
                        }
                    }

                    &.all {
                        clear: both;
                        display: block;
                        font-size: 12px;
                        font-weight: 400;
                        margin: 10px 0px 0px 0px;

                        a {
                            color: $color-secondary;
                        }

                        .fa {
                            font-size: 8px;
                            margin: 0px 0px 0px 5px;
                        }
                    }
                }
            }
        }
    }
}
