$hero_height:700px;
.hero-slider {
    margin: 0px;
    height:$hero_height;
    .carousel-control {
        background-image: none;
    }

    .item {
        height:$hero_height;

        img {
            display: block;
            position: relative;
            z-index: 2;
            width:100%;
            
        }
    }

    .item-bg {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        bottom: 0px;
        height: $hero_height;
        left: 0px;
        overflow: hidden;
        position: absolute;
        right: 0px;
        top: auto;
        z-index: 3;
        

        &:after {
            background-color: rgba(black, .3);
            bottom: 0px;
            content: '';
            left: 0px;
            position: absolute;
            right: 0px;
            top: 0px;
            z-index: 4;
        }

        @media (max-width: $screen-xs-max) {
            
        }
    }

    .carousel-caption {
        bottom: 0px;
        height: 100px;
        left: 0;
        padding: 0px 30px;
        position: absolute;
        right: 0;
        text-align: left;
        text-shadow: none;
        background-color:rgba(0,0,0,0.5);
        cursor:pointer;
        transition:all 0.3s;
        h1 {
            color: #fff;
            display: block;
            font-size: 30px;
            font-weight: 300;
            line-height: 45px;
            margin: 15px 0px 0px 0px;
        }

        @media (max-width: $screen-xs-max) {
            
        }
        &:hover{
            background-color:rgba(0,0,0,0.8);
        }
    }

    .carousel-control {
        bottom: auto;
        position: absolute;
        text-shadow: none;
        opacity: .4;
        top: 50%;
        transform: translateY(-50%);
        transition: opacity .15s linear;
        width: auto;
        z-index:9999;

        i {
            background-color: $color-primary;
            font-size: 21px;
            height: 42px;
            line-height: 42px;
            text-align: center;
            width: 52px;
        }

        &.left {
            margin-left: 50px;

            @media (max-width: $screen-xs-max) {
                margin-left: 0px;
            }
        }

        &.right {
            margin-right: 50px;

            @media (max-width: $screen-xs-max) {
                margin-right: 0px;
            }
        }

        &:hover {
            opacity: 1;
        }
    }

    &:hover .carousel-control {
        opacity: .9;
    }
}

.hero-slider-content {
    float: left;

    @media (max-width: $screen-xs-max) {
        
    }
}

.hero-slider-rating {
    display: block;
    color: $color-yellow;
    left: 0px;

    i {
        margin: 0px 2px;
    }
}

.hero-slider-actions {
    float: right;
    margin-top: 30px;

    a {
        border: 1px solid rgba(#fff, .8);
        border-radius: 50%;
        color: #fff;
        display: block;
        float: right;
        font-size: 15px;
        height: 40px;
        line-height: 39px;
        margin: 0px 0px 0px 30px;
        text-align: center;
        transition: all linear .15s;
        width: 40px;
        display:none;
        &:last-child {
            margin-left: 0px;
        }

        &:hover {
            background-color: #fff;
            color: $color-black-light;
        }
    }
}
