.posts {
    .post:hover {
        .post-image {
            &:before {
                opacity: 1;
                -webkit-transform: translateY(0%);
                transform: translateY(0%);
            }
        }

        .read-more {
            opacity: 1;
            top: 50%;
        }
    }

    .post-image {
        position: relative;
        overflow: hidden;

        &:before {
            background: -webkit-linear-gradient(top, rgba($color-black, 0) 0%, rgba($color-black, 0.7) 50%);
            background: linear-gradient(to bottom, rgba($color-black, 0) 0%, rgba($color-black, 0.7) 50%);
            content: '';
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            -webkit-transform: translateY(50%);
            transform: translateY(50%);
            transition: all ease .35s;
            width: 100%;
        }

        .read-more {
            border: 1px solid #fff;
            color: #fff;
            left: 50%;
            opacity: 0;
            padding: 6px 15px;
            position: absolute;
            text-shadow: 0px 0px 10px rgba(0,0,0,.3);
            top: 60%;
            transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            transition: all linear .15s, opacity ease .35s, top ease .35s;

            &:hover {
                background-color: #fff;
                color: $color-black;
                text-shadow: none;
            }
        }
    }
}

.posts-condensed {
    .post {
        @extend .clearfix;
        background-color: #fff;
        border: 0px;
        padding: 20px 30px;

        &:last-child {
            padding: 20px;
        }
    }

    .post-image {
        &:before {
            display: none;
        }

        img {
            width: 80px;
        }
    }

    .post-content {
        display: block;
        float: left;

        h2 {
            font-size: 16px;
            margin: 10px 0px 10px 0px;
            text-transform: inherit;
        }
    }

    .post-date {
        color: $color-secondary;
        float: left;
        font-size: 12px;
        font-weight: bold;
        margin: 22px 30px 0px 0px;
    }

    .post-more {
        float: right;
        margin-top: 23px;

        a {
            border-bottom: 1px solid $color-primary;
            transition: all .15s linear;

            &:hover {
                border-bottom-color: transparent;
            }
        }
    }
}

.post {
    @extend .clearfix;
    border-bottom: 1px solid rgba(black, .05);
    margin-bottom: 30px;
    padding-bottom: 30px;

    &:last-child {
        @media (min-width: $screen-sm-min) {
            border-bottom: 0px;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }
    }

    &.post-boxed {
        background-color: #fff;
        padding: 20px;
    }
}

.post-image {
    float: left;
    margin-right: 30px;

    img {
        width: 180px;
    }

    @media (max-width: $screen-md-max) {
        float: none;
        margin: 0px 0px 30px 0px;

        img {
            height: auto;
            width: 100%;
        }
    }
}

.post-content {
    display: table-cell;

    h2 {
        clear: both;
        font-size: 17px;
        font-weight: 400;
        margin: 0px 0px 20px 0px;
        text-transform: uppercase;

        a {
            color: $color-black;

            &:hover {
                color: $color-primary;
            }
        }
    }

    p {
        color: $color-gray-darker;
        margin: 0px;
    }
}

.post-label {
    background-color: $color-secondary;
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 13px;
    margin: 0px 0px 20px 0px;
    padding: 3px 15px;
}

.post-date {
    color: $color-gray-dark;
    float: left;
    font-size: 11px;
    line-height: 24px;
    margin: 0px 0px 20px 30px;
}

.post-meta {
    background-color: #fff;
    clear: both;
    display: inline-block;
    font-size: 13px;
    margin: 30px 0px 0px 0px;
    padding: 15px 20px;
    width: 100%;

    .post-boxed & {
        border-top: 1px solid rgba(black, .05);
        padding: 25px 0px 0px 0px;
    }
}

.post-meta-author, .post-meta-date, .post-meta-categories, .post-meta-comments {
    border-right: 1px solid rgba(black, .1);
    float: left;
    margin: 0px 15px 0px 0px;
    padding: 0px 15px 0px 0px;

    a {
        border-bottom: 1px solid $color-gray;
        color: $color-gray-darker;
        transition: all .15s linear;

        &:hover {
            border-bottom: transparent;
        }
    }

    .fa {
        color: $color-secondary;
        font-size: 11px;
        margin: 0px 10px 0px 0px;
        vertical-align: 1px;
    }

    @media (max-width: $screen-xs-max) {
        border: 0px;
        float: none;
        padding: 4px 0px;
    }
}

.post-meta-comments {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.post-meta-comments, .post-meta-date {
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        display: none;
    }
}

.post-meta-more {
    float: right;

    .fa {
        font-size: 10px;
        margin-left: 5px;
    }
}
